* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*start of navbar */
.nav{
    height: 3.5rem;
    background-color: #121212;
    padding-left: 10rem;
    padding-right: 10rem;
    padding-bottom: .6rem;
    padding-top: .3rem;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-between;
}

.nav img {
	height: auto;
	width: 18%;
	
}

.nav .fab {
	color: #fff;
	padding: 0 .5rem;
}

.menu{
    padding: 1rem 0;
    display: flex;
}


.menu a{
    text-decoration: none;
    color: #fff;
    margin: 0 1.5rem;
    text-transform: uppercase;
    font-size: .8rem;
}

.menu a:hover {
	color: gray;
	transition: .5s;
}

label{
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 60px;
    display: none;
}

#toggle{
    display: none;
}
/*end of navbar*/

/*start of header*/

#header {
	min-height: 100vh;
	background-image: url('../images/hero-img.jpg');
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	text-align: center;
}


.header-text {
	height: 80vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.header-text h2 {
	font-size: 2.3rem;
	font-weight: 300;
	font-family: 'Montserrat', sans-serif;
}

.header-text h3 {
	font-size: 1.3rem;
	color: #555555;
	font-weight: 500;
	margin-bottom: 3.5rem;
	font-family: 'Sorts Mill Goudy', serif;
	
}

.btn-header {
 	padding: .8rem 4.5rem;
	background-color: #121212;
	text-decoration: none;
	font-size: 1rem;
	letter-spacing: 1px;
	color: #fff;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
}

/*end of header*/

/*start of first section*/
#first-section-container {
	min-height: 50vh;
	padding: 3rem 0;
	margin-left: 12.6rem;
    margin-right: 12.6rem;
}

.first-section-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.first-section-info h1 {
	font-size: 2.5rem;
	text-align: center;
	margin-bottom: 1rem;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	color: #000000
}

.first-parag {
    text-align: center;
    color: #555555;
    font-weight: 400;
    line-height: 28px;
    font-size: 1.1rem;
    font-family: 'Lato', sans-serif;
}

.second-parag {
	margin-top: 1.5rem;
    text-align: center;
    color: #555555;
    font-weight: 400;
    line-height: 28px;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
}

/*end of first section*/

/*start of second section*/
#second-section-container {
	min-height: 50vh;
	background-color: #111111;
	color: white;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding-left: 7.5rem;
    padding-right: 7.5rem;
}

.first-column {
	padding: 3rem 0;
	width: 45%;
}

.first-column h1 {
	font-size: 2.2rem;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	color: #fff;
	text-align: left;
}

.second-column {
	width: 45%;
}

.second-column h1 {
	font-size: 2.2rem;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	color: #fff;
	text-align: left;
}

.second-sec-first-parag {
	font-size: 1rem;
	margin-top: 1rem;
	color: #9a9a9a;
	font-weight: 300;
	font-family: 'Lato', sans-serif;
	line-height: 24px;
}

.second-sec-second-parag {
	font-size: 1rem;
	margin-top: 1rem;
	color: #9a9a9a;
	font-weight: 300;
	font-family: 'Lato', sans-serif;
	line-height: 24px;
}

/*end of second section*/

/*start of third container*/
.third-section-container {
	min-height: 100vh;
	margin: 5rem;
	background-color: #fff;
}

.wrap-container {
	background-color: #dde5e5;
	margin: 3rem 9rem;
	min-height: 80vh;
	display: flex;
}

.wrap-first-info {
	width: 50%;
	padding: 3rem 0 3rem 2.3rem;
}

.wrap-first-info h1 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	color: #000000;
}

.wrap-first-parag p{
	font-weight: 300;
	font-family: 'Lato', sans-serif;
	line-height: 24px;
	color: #555555;
	margin-top: 1.5rem;
}

.wrap-second-info {
	width: 50%;
	padding: 3rem 2.3rem 3rem 2rem;
}

.wrap-contact {
	background-color: #111111;
	min-height: 75vh;
	padding: 2rem;
}

.wrap-contact h1 {
	text-align: center;
	font-size: 2.5rem;
	font-family: 'Sorts Mill Goudy', serif;
	font-style: italic;
	color: #b4b4b4;
	font-weight: 500;
}

.form-info p {
	color: #fff;
	font-size: 1rem;
	font-weight: 400;
	font-family: 'Lato', sans-serif;
	margin-bottom: .5rem;
}

.form-info input {
	border-radius: 0;
	border: none;
	height: 2.5rem;
	width: 100%;
	margin-bottom: 1.2rem;
}

.form-info #code {
	height: 2.5rem;
	width: 20%;
	margin-right: .4rem;
}

#code  {
	text-align: left;
	padding-left: .7rem;
}

#number {
	padding-left: .8rem;
}

.form-info #number {
	height: 2.5rem;
	width: 77.3%;
}

.form-info button {
	margin-top: .5rem;
	height: 4.1rem;
	width: 15rem;
	border: none;
	border-radius: 0;
	background-color: #dca114;
	color: #fff;
	font-weight: bold;
	line-height: 24px;
	letter-spacing: 2px;
	font-family: 'Montserrat', sans-serif;
}

/*end of third container*/

/*start of footer*/
#footer-container {
	min-height: 10.9rem;
	background-color: #111111;
    display: flex;
    padding-left: 4.6rem;
    padding-right: 5.2rem;
    justify-content: center;
    align-items: center;
}

.footer-first-info {
	width: 45%;
}


.footer-first-info img {
	height: 9rem;
	width: auto;
}

.footer-second-info {
	width: 45%;
	text-align: right;
	line-height: 22px;
}

.footer-second-info p {
	font-size: .7rem;
	color: #777777;
	font-weight: 400;
	font-family: 'Lato', sans-serif;
}

/*end of footer*/

@media screen and (min-width: 721px) and (max-width: 1024px){
	
	/*start of navbar*/
	.nav {
		padding: 0;
	}

	.nav-logo img {
		margin-top: .3rem;
		margin-left: 1rem;
		height: 3rem;
		width: auto;
	}

    label{
        display: block;
        cursor: pointer;
        float: right;
        color: white;
    }

    .menu{
        text-align: center;
        width: 100%;
        display: none;
        position: absolute;
        top: 3.8rem;
        background-color: #111111;
		color: white;
    }

    .menu a{
        clear: right;
        display: block;
     	padding: 1rem;
        margin: 0;
    }

    #toggle:checked + .menu{
        display: block;
    }

    /*end of navbar*/

    /*start of first section*/
    #first-section-container {
    	min-height: 10rem;
    	padding: 0;
    	margin: 1rem;
    }

    .first-section-info {
    	display: flex;
    	flex-direction: column;
    	justify-content: center;
    	align-items: center;
    }

    .first-section-info h1 {
    	font-size: 2rem;
    	text-align: center;
    }

    .first-parag {
    	text-align: center;
    	font-size: 1rem;
    }

    .second-parag {
    	margin-top: 1.5rem;
    	font-size: 1.1rem;
    }

    /*end of first section*/

    /*start of second section*/
    #second-section-container {
    	min-height: 50vh;
    	background-color: #111111;
    	color: white;
    	flex-direction: column;
    	padding: 1rem;
    	text-align: center;
    }

    .first-column {
    	padding: 0;
    	width: 100%;
    	margin: 1rem 0;
    }

    .first-column h1 {
    	font-size: 2rem;
    	font-family: 'Montserrat', sans-serif;
    	font-weight: 300;
    	color: #fff;
    	text-align: center;
    }

    .second-column {
    	width: 100%;
    }

    .second-column h1 {
    	font-size: 2rem;
    	text-align: center;
    }

    .second-sec-first-parag {
    	font-size: 1rem;
    }

    .second-sec-second-parag {
    	font-size: 1rem;
    }

	/*end of second section*/

	/*start of third container*/
	.third-section-container {
		min-height: 100vh;
		margin: 5rem;
		background-color: #fff;
	}

	.wrap-container {
		background-color: #dde5e5;
		margin: 0;
		min-height: 80vh;
		flex-direction: column;
	}

	.wrap-first-info {
		width: 100%;
		padding:  1rem;
	}

	.wrap-first-info h1 {
		text-align: center;
	}

	.wrap-first-parag p{
		text-align: center;
		margin-top: 1.5rem;
	}

	.wrap-second-info {
		width: 100%;
		padding: 3rem 2.3rem 3rem 2rem;
	}

	.wrap-contact {
		background-color: #111111;
		min-height: 10rem;
		padding: 2rem;
	}

	.wrap-contact h1 {
		text-align: center;
		font-size: 2.5rem;
		font-family: 'Sorts Mill Goudy', serif;
		font-style: italic;
		color: #b4b4b4;
		font-weight: 500;
	}

	.form-info p {
		color: #fff;
		font-size: 1rem;
		font-weight: 400;
		font-family: 'Lato', sans-serif;
		margin-bottom: .5rem;
	}

	.form-info input {
		border-radius: 0;
		border: none;
		height: 2.5rem;
		width: 100%;
		margin-bottom: 1.2rem;
	}

	.form-info #code {
		height: 2.5rem;
		width: 20%;
		margin-right: .4rem;
	}

	#code  {
		text-align: left;
		padding-left: .7rem;
	}

	#number {
		padding-left: .8rem;
	}

	.form-info #number {
		height: 2.5rem;
		width: 77.3%;
	}

	.form-info button {
		margin-top: .5rem;
		height: 4.1rem;
		width: 15rem;
		border: none;
		border-radius: 0;
		background-color: #dca114;
		color: #fff;
		font-weight: bold;
		line-height: 24px;
		letter-spacing: 2px;
		font-family: 'Montserrat', sans-serif;
	}

	/*end of third container*/

	/*start of footer*/
	#footer-container {
		min-height: 10.9rem;
		background-color: #111111;
		display: flex;
		padding: 0 1rem;
		justify-content: center;
		align-items: center;
	}

	.footer-first-info {
		width: 45%;
	}


	.footer-first-info img {
		height: 7rem;
		width: auto;
	}

	.footer-second-info {
		width: 45%;
		text-align: right;
		line-height: 22px;
	}

	.footer-second-info p {
		font-size: .7rem;
		color: #777777;
		font-weight: 400;
		font-family: 'Lato', sans-serif;
	}
	/*end of footer*/
}


@media screen and (max-width: 720px){

	/*start of navbar*/
	.nav {
		padding: 0;
	}

	.nav-logo img {
		margin-top: .3rem;
		margin-left: 1rem;
		height: 3rem;
		width: auto;
	}

    label{
        display: block;
        cursor: pointer;
        float: right;
        color: white;
    }

    .menu{
        text-align: center;
        width: 100%;
        display: none;
        position: absolute;
        top: 3.8rem;
        background-color: #111111;
		color: white;
    
    }

    .menu a{
        clear: right;
        display: block;
     	padding: 1rem;
        margin: 0;
    }

    #toggle:checked + .menu{
        display: block; 
    }
    /*end of navbar*/

    /*start of first section*/
    #first-section-container {
    	min-height: 50vh;
    	padding: 0;
    	margin: 1rem;
    }

    .first-section-info {
    	display: flex;
    	flex-direction: column;
    	justify-content: center;
    	align-items: center;
    }

    .first-section-info h1 {
    	font-size: 2rem;
    	text-align: center;
 
    }

    .first-parag {
    	text-align: center;
    	font-size: 1rem;
    }

    .second-parag {
    	margin-top: 1.5rem;
    	font-size: 1.1rem;
    }

    /*end of first section*/

    /*start of second section*/
    #second-section-container {
    	min-height: 50vh;
    	background-color: #111111;
    	color: white;
    	flex-direction: column;
    	padding: 1rem;
    	text-align: center;
    }

    .first-column {
    	padding: 0;
    	width: 100%;
    	margin: 1rem 0;
    }

    .first-column h1 {
    	font-size: 2rem;
    	font-family: 'Montserrat', sans-serif;
    	font-weight: 300;
    	color: #fff;
    	text-align: center;
    }

    .second-column {
    	width: 100%;
    }

    .second-column h1 {
    	font-size: 2rem;
    	text-align: center;
    }

    .second-sec-first-parag {
    	font-size: 1rem;
    }

    .second-sec-second-parag {
    	font-size: 1rem;
    }

	/*end of second section*/

	/*start of third container*/
	.third-section-container {
		min-height: 100vh;
		margin: 5rem;
		background-color: #fff;
		
	}

	.wrap-container {
		background-color: #dde5e5;
		margin: 0;
		min-height: 80vh;
		flex-direction: column;
	}

	.wrap-first-info {
		width: 100%;
		padding:  1rem;
	}

	.wrap-first-info h1 {
		text-align: center;
	}

	.wrap-first-parag p{
		text-align: center;
		margin-top: 1.5rem;
	}

	.wrap-second-info {
		width: 100%;
		padding: 3rem 2.3rem 3rem 2rem;
	}

	.wrap-contact {
		background-color: #111111;
		min-height: 75vh;
		padding: 2rem;
	}

	.wrap-contact h1 {
		text-align: center;
		font-size: 2.5rem;
		font-family: 'Sorts Mill Goudy', serif;
		font-style: italic;
		color: #b4b4b4;
		font-weight: 500;
	}

	.form-info p {
		color: #fff;
		font-size: 1rem;
		font-weight: 400;
		font-family: 'Lato', sans-serif;
		margin-bottom: .5rem;
	}

	.form-info input {
		border-radius: 0;
		border: none;
		height: 2.5rem;
		width: 100%;
		margin-bottom: 1.2rem;
	}

	.form-info #code {
		height: 2.5rem;
		width: 20%;
		margin-right: .4rem;
	}

	#code  {
		text-align: left;
		padding-left: .7rem;
	}

	#number {
		padding-left: .8rem;
	}

	.form-info #number {
		height: 2.5rem;
		width: 77.3%;
	}

	.form-info button {
		margin-top: .5rem;
		height: 4.1rem;
		width: 15rem;
		border: none;
		border-radius: 0;
		background-color: #dca114;
		color: #fff;
		font-weight: bold;
		line-height: 24px;
		letter-spacing: 2px;
		font-family: 'Montserrat', sans-serif;
	}

	/*end of third container*/

	/*start of footer*/
	#footer-container {
		min-height: 10.9rem;
		background-color: #111111;
		display: flex;
		padding: 0 1rem;
		justify-content: center;
		align-items: center;
	}

	.footer-first-info {
		width: 45%;
	}


	.footer-first-info img {
		height: 7rem;
		width: auto;
	}

	.footer-second-info {
		width: 45%;
		text-align: right;
		line-height: 22px;
	}

	.footer-second-info p {
		font-size: .7rem;
		color: #777777;
		font-weight: 400;
		font-family: 'Lato', sans-serif;
	}
	/*end of footer*/

}

@media screen and (max-width: 580px) {

	/*start of navbar*/
	.nav .menu {
		background-color: #111111;
		color: white;
	}

	.nav-logo img {
		margin-top: .3rem;
		margin-left: 1rem;
		height: 3rem;
		width: auto;
	}

	label {
		margin-bottom: 1.5rem ;
	}

	/*end of navbar*/

	/*start of header*/
	.header-text {
		margin-left: 1rem;
		margin-right: 1rem;
	}

	.header-text h2 {
		font-size: 2rem;
		margin-bottom: 1rem;
	}

	.header-text h3 {
		font-size: 1.2rem;
	}
	/*end of header*/

	/*start of first-section-container*/
	#first-section-container {
		min-height: 50vh;
		padding: 3rem 0;
		margin-left: 1rem;
		margin-right: 1rem;
	}

	.first-section-info h1 {
		font-size: 2rem;
	}

	.first-parag {
		font-size: 1rem;
		text-align: justify;
	}

	.second-parag {
		font-size: 1rem;
		text-align: justify;
	}

	/*end of first-section-container*/

	/*start of second section container*/
	#second-section-container {
		padding-left: 0;
		padding-right: 0;
		flex-direction: column;
		padding: 0rem 0 1rem 0;
	}

	.first-column {
		width: 100%;
	}

	.first-column h1 {
		font-size: 2rem;
		text-align: center;
		margin-top: 2rem;
	}

	.second-column {
		width: 100%;
	}

	.second-column h1 {
		font-size: 2rem;
		text-align: center;
	}

	.second-sec-first-parag {
		font-size: 1rem;
		text-align: justify;
		margin-left: 1rem;
		margin-right: 1rem;
	}

	.second-sec-second-parag {
		font-size: 1rem;
		text-align: justify;
		margin-left: 1rem;
		margin-right: 1rem;
		margin-bottom: 2rem;
	}
	/*end of second section container*/

	/*start of third container*/
	.third-section-container {
		min-height: 100vh;
		margin: 0;

	}

	.wrap-container {
		min-height: 80vh;
		flex-direction: column;
		margin: 0;

	}

	.wrap-first-info {
		width: 100%;
		padding: 0;
		padding-left: 1rem;
		padding-right: 1rem;
	}

	.wrap-first-info h1 {
		text-align: center;
		font-size: 2rem;
		margin-top: 2rem;
	}

	.wrap-first-parag p{
		text-align: justify;
	}

	.wrap-second-info {
		width: 100%;
		padding: 3rem 2.3rem 3rem 2rem;
	}

	.wrap-contact {
		background-color: #111111;
		min-height: 10rem;
		padding: 2rem;
	}

	.wrap-contact h1 {
		text-align: center;
		font-size: 2.5rem;
		font-family: 'Sorts Mill Goudy', serif;
		font-style: italic;
		color: #b4b4b4;
		font-weight: 500;
	}

	.form-info p {
		color: #fff;
		font-size: 1rem;
		font-weight: 400;
		font-family: 'Lato', sans-serif;
		margin-bottom: .5rem;
	}

	.form-info input {
		border-radius: 0;
		border: none;
		height: 2.5rem;
		width: 100%;
		margin-bottom: 1.2rem;
	}

	.form-info #code {
		height: 2.5rem;
		width: 19%;
		margin-right: .4rem;
	}

	#code  {
		text-align: left;
		padding-left: .7rem;
	}

	#number {
		padding-left: .8rem;
	}

	.form-info #number {
		height: 2.5rem;
		width: 77.3%;
	}

	.form-info button {
		margin-top: .5rem;
		height: 4.1rem;
		width: 15rem;
		border: none;
		border-radius: 0;
		background-color: #dca114;
		color: #fff;
		font-weight: bold;
		line-height: 24px;
		letter-spacing: 2px;
		font-family: 'Montserrat', sans-serif;
	}

	/*end of third container*/

	/*start of footer*/
	#footer-container {
		min-height: 10.9rem;
		background-color: #111111;
		flex-direction: column;
		padding: 0
		justify-content: center;
		align-items: center;
	}

	.footer-first-info {
		width: 100%;
	}


	.footer-first-info img {
		height: 7rem;
		width: auto;
	}

	.footer-second-info {
		width: 100%;
		text-align: left;
		line-height: 22px;
		margin-bottom: 1rem;
	}

	.footer-second-info p {
		font-size: .8rem;
		margin-left: .5rem;
		text-align: left;
	}
	/*end of footer*/

}

@media screen and (max-width: 420px) {

	.wrap-contact {
		background-color: #111111;
		min-height: 10rem;
		padding: 2rem;
	}

	.form-info p {
		color: #fff;
		font-size: 1rem;
		font-weight: 400;
		font-family: 'Lato', sans-serif;
		margin-bottom: .5rem;
	}

	.form-info input {
		border-radius: 0;
		border: none;
		height: 2.5rem;
		width: 100%;
		margin-bottom: 1.2rem;
	}

	.form-info #code {
		height: 2.5rem;
		width: 19%;
		margin-right: .4rem;
	}

	#code  {
		text-align: left;
		padding-left: .7rem;
	}

	#number {
		padding-left: .8rem;
	}

	.form-info #number {
		height: 2.5rem;
		width: 77%;
	}

	.form-info button {
		margin-top: .5rem;
		height: 4.1rem;
		width: 100%;
		border: none;
		border-radius: 0;
		background-color: #dca114;
		color: #fff;
		font-weight: bold;
		line-height: 24px;
		letter-spacing: 2px;
		font-family: 'Montserrat', sans-serif;
	}
}



@media screen and (max-width: 380px) {

	/*start of navbar*/
	.nav .menu {
		background-color: #111111;
		color: white;
	}

	.nav-logo img {
		margin-top: .3rem;
		margin-left: 1rem;
		height: 3rem;
		width: auto;
	}

	label {
		margin-bottom: 1.5rem ;
	}

	/*end of navbar*/

	/*start of header*/
	.header-text {
		margin-left: 1rem;
		margin-right: 1rem;
	}

	.header-text h2 {
		font-size: 2rem;
		margin-bottom: 1rem;
	}

	.header-text h3 {
		font-size: 1.2rem;
	}
	/*end of header*/

	/*start of first-section-container*/
	#first-section-container {
		min-height: 50vh;
		padding: 3rem 0;
		margin-left: 1rem;
		margin-right: 1rem;
	}

	.first-section-info h1 {
		font-size: 2rem;
	}

	.first-parag {
		font-size: 1rem;
		text-align: justify;
	}

	.second-parag {
		font-size: 1rem;
		text-align: justify;
	}
	/*end of first-section-container*/

	/*start of second section container*/
	#second-section-container {
		padding-left: 0;
		padding-right: 0;
		flex-direction: column;
		padding: 0rem 0 1rem 0;
	}

	.first-column {
		width: 100%;
	}

	.first-column h1 {
		font-size: 2rem;
		text-align: center;
	}

	.second-column {
		width: 100%;
	}

	.second-column h1 {
		font-size: 2rem;
		text-align: center;
	}

	.second-sec-first-parag {
		font-size: 1rem;
		text-align: justify;
		margin-left: 1rem;
		margin-right: 1rem;
	}

	.second-sec-second-parag {
		font-size: 1rem;
		text-align: justify;
		margin-left: 1rem;
		margin-right: 1rem;
	}
	/*end of second section container*/

	/*start of third container*/
	.third-section-container {
		min-height: 100vh;
		margin: 0;

	}

	.wrap-container {
		min-height: 80vh;
		flex-direction: column;
		margin: 0;

	}

	.wrap-first-info {
		width: 100%;
		padding: 0;
		padding-left: 1rem;
		padding-right: 1rem;
	}

	.wrap-first-info h1 {
		text-align: center;
		font-size: 2rem;
		margin-top: 2rem;
	}

	.wrap-first-parag p{
		text-align: justify;
	}

	.wrap-second-info {
		width: 100%;
		padding: 3rem 2.3rem 3rem 2rem;
	}

	.wrap-contact {
		background-color: #111111;
		min-height: 10rem;
		padding: 2rem;
	}

	.wrap-contact h1 {
		text-align: center;
		font-size: 2.5rem;
		font-family: 'Sorts Mill Goudy', serif;
		font-style: italic;
		color: #b4b4b4;
		font-weight: 500;
	}

	.form-info p {
		color: #fff;
		font-size: 1rem;
		font-weight: 400;
		font-family: 'Lato', sans-serif;
		margin-bottom: .5rem;
	}

	.form-info input {
		border-radius: 0;
		border: none;
		height: 2.5rem;
		width: 100%;
		margin-bottom: 1.2rem;
	}

	.form-info #code {
		height: 2.5rem;
		width: 19%;
		margin-right: .4rem;
	}

	#code  {
		text-align: left;
		padding-left: .3rem;
	}

	#number {
		padding-left: .8rem;
	}

	.form-info #number {
		height: 2.5rem;
		width: 76%;
	}

	.form-info button {
		margin-top: .5rem;
		height: 3.5rem;
		width: 100%;
		border: none;
		border-radius: 0;
		background-color: #dca114;
		color: #fff;
		font-weight: bold;
		line-height: 24px;
		letter-spacing: 2px;
		font-family: 'Montserrat', sans-serif;
	}

	/*end of third container*/

	/*start of footer*/
	#footer-container {
		min-height: 10.9rem;
		background-color: #111111;
		flex-direction: column;
		padding: 0
		justify-content: center;
		align-items: center;
	}

	.footer-first-info {
		width: 100%;
	}


	.footer-first-info img {
		height: 5rem;
		width: auto;
	}

	.footer-second-info {
		width: 100%;
		text-align: left;
		line-height: 22px;
		margin-bottom: 1rem;
	}

	.footer-second-info p {
		font-size: .8rem;
		margin-left: .5rem;
		text-align: left;
	}
/*end of footer*/

}

@media screen and (max-width: 320px) {

	/*start of third container*/
	.wrap-contact {
		background-color: #111111;
		min-height: 10rem;
		padding: 2rem;
	}
	.form-info input {
		border-radius: 0;
		border: none;
		height: 2.5rem;
		width: 100%;
		margin-bottom: 1.2rem;
	}

	.form-info #code {
		height: 2.5rem;
		width: 19%;
		margin-right: .4rem;
	}

	#code  {
		text-align: left;
		padding-left: .1rem;
	}

	#number {
		padding-left: .3rem;
	}

	.form-info #number {
		height: 2.5rem;
		width: 75%;
	}

	.form-info button {
		margin-top: .5rem;
		height: 3.5rem;
		width: 100%;
		border: none;
		border-radius: 0;
		background-color: #dca114;
		color: #fff;
		font-weight: bold;
		line-height: 24px;
		letter-spacing: 2px;
		font-family: 'Montserrat', sans-serif;
	}
	/*end of third container*/

}